body{
    background-color: rgb(22,111,229);
}
#box{
    padding-top: 20px;
    border: 1px solid black;
    padding-left: 50px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    height: 400px;
}
#box2{
    padding-top: 20px;
    border: 1px solid black;
    padding-left: 50px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    height: 400px;
}
#login{
    background-color: rgb(22,111,229);
     width:200px;
     color: white;
     border-radius: 5px;
     border: 1px solid rgb(22,111,229);
    
    }
#fb{
        background-color: rgb(22,111,229);
         width:200px;
         color: white;
         border-radius: 5px;
         border: 1px solid rgb(22,111,229);
        
}
#go{
     width:200px;
     color: grey;
     border-radius: 5px;
     border: 1px solid grey
    
    }

#fp{
    color: rgb(22,111,229) ;
}