body{
    /* background-color: black; */
}
#main{
    background-color: red;
}
#mainBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
#upper{
    border: 5px solid black;
    padding-left: 380px;
    color: white;
}

#lower{
    border: 5px solid black;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    width: 700px;
}
/* button{
    height: 100px;
    width: 200px;
    color: white;
    background-color: black;
    border: 1px solid white;
    box-shadow:10px 10px 10px;
    font-size: 20px;
} */